{% layout "layout.liquid" %}
{% block content %}
    <h1 class="text-center">All tasks</h1>
    </br>
    </br>

    <span class="text-center">
        <h3>Filter </h3>
          <form action="/tasks/show"> 
            <input 
            type="text"
            name="title"
            placeholder="Title"
            class="form-control text-center"
            required
            >
            <input 
            type="text"
            name="description"
            placeholder="Description"
            class="form-control text-center"
            required
            >
            <input 
            type="number"
            name="cost"
            placeholder="cost"
            class="form-control text-center"
            required
            >

            <input 
            id="date"
            type="text"
            name="date"
            placeholder="Date (DD/MM/YY)"
            class="form-control text-center"
            required
            >
            <input 
            type="text"
            name="assigned"
            placeholder="Assigned"
            class="form-control text-center"
            required
            >
            <input type="submit"  class="btn btn-light">
          </form> 
        </span>
 
    </br>
 
  <table style="width:100%">
    <tr>
        <th> 
            <form action="/tasks/checked?_method=PUT" method="POST">
                <input type="submit" value="Check all Boxes" class="btn btn-light">
            </form>
            <!-- <form action="/tasks/unchecked?_method=PUT" method="POST">
                <input type="submit" value="Uncheck all Boxes" class="btn btn-light">
            </form> -->
        </th>
        <th>Title</th>
        <th>Description</th>
        <th>Cost</th>
        <th>Date Created</th>
        <th>Scheduled for</th>
        <th>Assigned to </th>
        <th>Task created by </th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td> 
            <form action="/tasks/checked/{{task._id}}?_method=PUT" method="POST">
            <input  onChange="this.form.submit()" type="checkbox" name="checked" class="form-check-input"
            {% if task.checked %}
            checked
            {% endif %}> 
        </form>
        </td>
        <td>{{task.title}}</td>
        <td> {{ task.description }}</td>
        <td>{{ task.cost }}</td>
        <td> {{ task.createdAt.| slice: 0, 16}}</td>
        <td>{{ task.scheduled }}</td>
        <td>{{ task.assigned }}</td>
       
        <td>{{ task.owner.name | capitalize }}</td>
        <td>
          
            <form action="/tasks/{{task._id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete this task" class="btn btn-light">
            </form>
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}